.app{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.board{
  width: 330px;
  height: 330px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
}

.square{
  height: 110px;
  width: 110px;
  border:solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.o{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 16px solid aqua;
  box-sizing: border-box;

}

.x{
  width: 100px;
  height: 100px;
  position: relative;
}

.x:before,.x:after{
  content: '';
  position: absolute;
  background-color: brown;
  transform: rotate(45deg);

}
.x:before{
  left:50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;

}
.x:after{
  top:50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
  
}
